.container {
    background-color: #12372A;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lexend Zetta', sans-serif;
}

.formCard {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 40px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    border: 1px solid rgba(251, 250, 218, 0.1);
}

/* Container para centralizar o logo no card */
.logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza no Login */
    gap: 12px;
    margin-bottom: 10px;
}

.logoBadge {
    background-color: #FBFADA;
    color: #12372A;
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: 800;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 1.5rem; /* Um pouco maior no login */
}

.logoTitle {
    color: #FBFADA !important; /* Força a cor original do seu tema */
    font-size: 2.8rem;
    margin: 0;
    font-family: 'Lexend Zetta', sans-serif;
}

.logoTitle span {
    color: #ADB99F; /* Mantém o destaque na palavra BURGER */
}
.formCard h2 {
    color: #ADB99F;
    font-size: 1.9rem;
    margin-bottom: 30px;
    font-weight: 300;
}

.inputGroup input {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #436850;
    background: transparent;
    color: #FBFADA;
    outline: none;
    font-size: 1rem;
}

.loginButton {
    width: 100%;
    padding: 12px;
    background-color: #FBFADA;
    color: #12372A;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
}

.loginButton:hover {
    background-color: #ADB99F;
}

.toggleText {
    color: #ADB99F;
    margin-top: 20px;
    font-size: 1.1rem;
}

.toggleText a {
    color: #FBFADA;
    text-decoration: none;
    font-weight: bold;
}

.backLink {
    display: block;
    margin-top: 20px;
    color: #ADB99F;
    font-size: 0.9rem;
    text-decoration: none;
}