.adminWrapper {
  display: flex;
  min-height: 100vh;
  background-color: #0f1f19;
}

.sidebar {
  width: 300px;
  background-color: #12372A;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  flex: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.logoGroupAdmin {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(251, 250, 218, 0.1); /* Linha sutil para separar */
}

.logoBadgeSmall {
    background-color: #FBFADA;
    color: #12372A;
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: 800;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 1rem;
}

.logoTitleAdmin {
    margin: 0;
    display: flex;
    flex-direction: column; /* Coloca o "ADMIN" abaixo do nome */
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 1.4rem;
    color: #FBFADA;
    line-height: 1;
}

.logoTitleAdmin span {
    color: #ADB99F;
}

.logoTitleAdmin small {
    font-size: 0.6rem;
    letter-spacing: 2px;
    color: #ADB99F;
    margin-top: 4px;
    opacity: 0.8;
}
.navMenu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.navMenu a {
    color: #ADB99F;
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.3s;
}

.navMenu a:hover {
    color: #FBFADA;
    padding-left: 10px;
}

.logoutBtn {
    background: transparent;
    border: 1px solid #f44336;
    color: #f44336;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 0.9rem;
}